.App{
    max-width: 900px;
    margin:auto;
}

a{
    color: #001E6C;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 450px){
    .App{
        max-width: 400px;
    }
    ul{
        grid-template-columns: 1fr;
    }
}

.About{
    text-align: center;
    padding: 3rem;
    background-color: #001E6C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.About img{
    height: 10rem;
    border-radius: 50%;
}

.About h1{
    font-size: 3rem;
    color: white;
    margin: 1rem;
    letter-spacing: .1rem;
}

.About p{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    letter-spacing: .1rem;
}

.Links{
    margin: 3rem;
}

.Links ul li {
    color: #001E6C;
    border: 1px solid #001E6C;
    border-radius: 5px;
    padding: 1rem;
}

.Links ul li:hover{
    box-shadow: 2px 5px 10px  rgba(0, 0, 0, 0.7);
    background-color: #001E6C;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.Links ul li:hover a{
    color: white;
}